.table {
    display: table;
}
.row {
    display: table-row;
}
.cell {
    display: table-cell;
}

.container {
    padding: 8px 8px;
    margin: 0px 8px;
}

.cover {
    padding: 8px 0px 16px;
    border-bottom: 1px solid #e5e5e5;
}

.introduction {
    width: 100%;
    margin: 5px 0px;
    text-align: center;
}

img.center {
    display: block;
    margin: 0 auto;
}

.cover-img {
    max-height: 108px;
    max-width: 108px;
}

.introduction > div:nth-child(2) {
    margin: 8px;
}

.introduction > div > span {
    color: rgb(100, 100, 100);
    font-size: 18px;
}

.items-list {
    padding: 4px 0px;
}

.item {
    padding: 3px;
}

.item > div {
    vertical-align: middle;
    border-bottom:1px solid #ccc;
    height: 114px;
}


.container > hr {
    margin-top: 25px;
    border-top: dotted 1px;
    color: silver;
}

.subscription-container {
    margin: 5px auto 5px auto;
}

.subscription-container > div {
    margin: 2px auto 2px auto;
    font-family: 微软雅黑;
    line-height: 20px;
    font-weight: bold;
    padding-left: 10px;
    text-align: center;
}

.subscription-container > div:first-child {
    padding-top: 8px;
    font-size: 14px;
    color: #404040;
}

.subscription-container > div:last-child {
    font-size: 13px;
    color: #3c3c3c;
}

.subscription-container > div > img {
    width: 180px;
    height: 180px;
}

.desclaration-container {
    margin: 5px auto 5px auto;
    font-family: 微软雅黑;
    color: #3c3c3c;
}

.desclaration-container > span {
    font-size: 12px;
}

.no-frame {
    border: none;
}

.no-frame:before {
    border: none;
}

.no-frame:after {
    border: none;
}

.button-sp-area {
    margin: 0 auto;
    padding: 5px 0;
    width: 50%;
}

.font-size-12 {
    font-size: 12px;
}

.baseline-button {
    font-size:13px;
    margin: 16px auto;
}

.no-content {
    width:100%;
    text-align:center;
    padding-top: 16px;
    color:#999;
    font-size: 13px;
}

.comment {
    margin-left: 5px;
    color: #808080;
    text-decoration: none;
    font-size: 10px;
}
.poster-container {
    margin: 5px auto 5px auto;
    text-align: left;
}
.poster {
    max-height: 360px;
    max-width: 100%;
}
